@CHARSET "UTF-8";

body{
	background-color:#F0FFFF;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

li{
	display:inline;
}
table{
	text-align: center;
	border:solid 1px;
	border-color:#c0c0c0;
	border-radius:10px;
}
tr{
	padding:0px;
	margin:0px;
	border:0px;
}
#score_wheel td{
	width:55px;	
	height:40px;
}
#score_wheel input{
	width:55px;	
	height:30px;
}
#score_wheel{
	position:absolute;
    top:10px;
    left:30px;
}
#score_table th{	
	height:45px;
	background-color:#FFEFD5;
}
#score_table td{
	width:180px;	
	height:45px;
}
.active{
	color: #FF6A6A;
	font-weight:bold;
}
.td_one td{
	background-color:#f4f4f4;
}
.td_two td{
	background-color:#ffffff;
}

.menu_year_team ul {
    
    background-color: #ffffff;
    overflow: auto; 
	text-align: center;
	border:solid 1px;
	border-color:#c0c0c0;
	list-style-type: none;
	
}
.menu_year_team ul li span{
	height:100px;
    text-decoration: none;
    font-size:30px;
    border-bottom:solid 1px;
	padding:5px;
	display: table-cell;
    vertical-align:middle
}
.menu_year_team li a {
	display: block;
	color: #000;
    padding:3px;
    text-decoration: none;
	
}
.menu_year_team li a:hover:not(.active){
	background-color:#FFA07A;
    color: #ffffff;
}
.menu_year_team li a.active {
    background-color:#FFA07A;
    color: #000000;
    
}

#ul_year{
	position:absolute;
    top:70px;
    left:5%;
    width: 15%;
    height: 650px;
}
#ul_team{
	position:absolute;
    top:700px;
    left:5%;
    width: 15%;
    height:1150px;
}
.menu_year_team #ul_team li a {
    padding:5px;
	
}
.div_content{
	position:absolute;
    top:70px;
    left:20.3%;
    margin: 0;
    padding: 0;
    width: 73%;
    background-color: #ffffff;
	height: 630px; 
	font-size:20px;
	border:solid 1px;
	border-color:#c0c0c0;
}
.div_content_paint{
	position:absolute;
    top:700px;
    left:20.3%;
    margin: 0;
    padding: 0;
    width: 73%;
    background-color: #ffffff;
    height:1150px;
	border:solid 1px;
	border-color:#c0c0c0;
}
.div_content_paint_img{
	position:relative;
    top:80px;
    left:20%;
}
#score_table table{
	position:absolute;
    top:110px;
	left:30px;
}
.menu_footer{
	position:absolute;
    top:1900px;
	width:100%;
	height:80px;
	background-color:#e7e7e7;
	
}
